.popup{
  background-color: #242424;
  padding: 20px 30px;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.popup-exit{
  display: flex;
  position: absolute;
  top: 20px;
  right: 0px;
  padding:0px 30px;
}
.popup input{
  font-size: 16px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid rgb(106, 106, 106);
  padding: 8px 12px;
}
.popup button{
  font-size: 20px;
  margin-top: 5px;
  padding: 5px 15px;
  background-color: #646cff;
  transition: 300ms;
}

.popup button:hover{
  background-color: #4b54e1;
  border: 1px solid #1a1a1a;
  cursor: pointer;
}
.background-darker{
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}