.saved-component{
  position: fixed;
  left: 50px;
  top: 100px;
  background: linear-gradient(140deg,#646cff, #010bd6);
  width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.saved-title{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.saved-object{
  height: fit-content;
  background-color: #1A1A1A;
  margin: 0 10px;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  line-height: 1.3;
}

.saved-object-right{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.svg-icon{
  padding: 5px;
}