.view-component{
  padding: 30px 0px; 
  background-color: #242424;
  border-radius: 10px;
  position: fixed;
  right: 37%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.view-title-subject{
  font-size: 32px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.view-title{
  font-size: 44px;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: #646cff;
  line-height: 1;
  padding-bottom: 10px;
}

.view-exams{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: rgb(114, 114, 114);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-exam{
  margin: 0;
}

.grade-exam{
  font-size: 24px;
  color: #646cff;
}

.over20{
  font-size: 16px;
}

.percentage{
  margin: 0;
  padding: 0 1px;
  font-size: 16px;
}

.view-grade-needed{
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  color: #646cff;
}

.view-component-button{
  display: flex;
  justify-content: center;
  align-items: center;

}

.background-darker{
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

@media (max-width: 1500px) {
  .view-component{
    right: 40%;
  }
}

@media (max-width: 1130px) {
  .view-component{
    right: auto;
    left: auto;
  }
}